header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    height: 4rem;
}